@tailwind base;
@tailwind components;
@tailwind utilities;


.rdw-editor-main{
	background-color: gainsboro;
	color: black;
	height: 150px !important; 
	max-width: 800px;
}

#root{
	width: 100% !important;

	position: static;
}